<nav class="menu-neumorphic d-flex align-items-center justify-content-between px-4">
  <ul class="menu-neumorphic d-flex mb-0">
    <li style="--i:#a955ff;--j:#ea51ff">
      <a href="/home">
        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
        <span class="title">Home</span>
      </a>
    </li>
    
    <li style="--i:#56CCF2;--j:#2F80ED">
      <a href="/game">
        <span class="icon"><ion-icon name="game-controller-outline"></ion-icon></span>
        <span class="title">Play</span>
      </a>
    </li>
    
      <!-- Botón para alternar el tema oscuro/claro -->
  <li style="--i:#ffe600;--j:#ffa600">
    <button id="themeToggle">
      <span class="icon"><ion-icon name="contrast-outline"></ion-icon></span>
      <span class="title">Theme</span>
    </button>
  </li>
  
  </ul>
</nav>
