<%- include('../partials/header') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<!-- Video de fondo -->
<video autoplay muted loop playsinline id="bg-video">
  <source src="/img/Background2.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<!-- Estilos exclusivos de la vista Home -->
<style>
  body {
    background: none !important;
    background-color: transparent !important;
  }

  #bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  .menu-container,
  .container {
    position: relative;
    z-index: 1;
  }
  .big-play-btn {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
}

.big-play-btn i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.dark-mode .home-text {
  text-shadow:
    1px 0 black,
   -1px 0 black,
    0 1px black,
    0 -1px black,
    1px 1px black,
   -1px -1px black,
    1px -1px black,
   -1px 1px black;
}
</style>

<div class="menu-container">
  <%- include('../partials/navbar_public') %>
</div>

<!-- Titulo del juego -->
<div class="container text-center mt-5">
  <img src="/img/Title.png" alt="CryptoHorizon Title" class="img-fluid" style="width: 1000px; height: auto; margin-bottom: 20px;">
  
  <h5 class="home-text">Are you ready to learn Crypto while having fun?</h5>

  <a href="/game" class="btn btn-danger mt-3 big-play-btn">
    <i class="fas fa-play"></i> PLAY
  </a>
</div>

<div class="container text-center my-5" style="margin-top: 200px;">
  <p class="home-text">Are you an admin? </p><a href="/login">Login</a>
</div>

<%- include('../partials/footer') %>
</body>


